**.pyc
**.json
__pycache__/**
/data_lob_bench/*
./__pycache__/***
**.pyc
*.DS_Store
data_lob_bench.tar.gz
eval2.ipynb
kl_checking.ipynb
__pycache__/data_loading.cpython-310.pyc
__pycache__/eval.cpython-310.pyc
__pycache__/impact.cpython-310.pyc
__pycache__/partitioning.cpython-310.pyc
__pycache__/partitioning.cpython-310.pyc
__pycache__/impact.cpython-310.pyc
**.csv
runs/**
eval_*.ipynb
**.zip
images/*
cis_*
compare*
comparison*
__pycache__/*
x_vals*
ys*
/plots/*
results/*
plots/* 
old_result_files/*
sample_data/*  
data
Miniconda3*
*.pyc
logs/*
*.md
!README.md